.species-details {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 8px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  position: absolute;
  overflow: auto;
}

.species-details h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(245, 238, 45); /* Lighter color for the heading */
  font-family: "Playfair Display", serif;
}

.species-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.species-grid div {
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  color: #ccc; /* Grey color for the grid items */
  font-family: "Lato", sans-serif;

  /* Set a fixed height for uniformity */
  height: 280px; /* Adjust height as needed */

  /* Enable scrolling for overflow content */
  overflow-y: auto;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.species-grid div::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Hide scrollbar for Firefox */
.species-grid div {
  scrollbar-width: none; /* Hide scrollbar */
}

/* Uniform font size for all text in grid items */
.species-grid div span {
  font-size: 18px; /* Adjust font size as needed */
}
.species-grid div strong {
  font-size: 20px;
  color: rgb(245, 238, 45);
}
