body {
  background-color: #000000; /* Soft pastel blue background for the page */
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Ensures body takes up the full height of the viewport */
    overflow-y: auto;
  }
  
  .contact-section {
    color: #ffffff;
    max-width: 600px;
    margin: 3rem auto;
    padding: 0 1.5rem;
    text-align: center;
    line-height: 1.6;
  }
  
  .contact-section h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
  }
  
  .contact-section p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
  
  .contact-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-section li {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
  }
  
  .contact-section li strong {
    color: #ffffff;
    margin-right: 0.5rem;
  }
  
  .contact-section h1::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    margin: 0.5rem auto 2rem auto;
    border-radius: 5px;
  }
  
  @media (max-width: 600px) {
    .contact-section {
      padding: 1.5rem;
    }
  
    .contact-section h1 {
      font-size: 2rem;
    }
  
    .contact-section p,
    .contact-section li {
      font-size: 1rem;
    }
  }
  
  
  
  